*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat";
  background-image: url("./../images/fon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1120px;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}
