header {
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.logo__png {
  display: block;
  align-items: center;
  text-decoration: none;
}

.logo__png img {
  height: 45px;
  width: auto;
  display: block;
}

.nav {
  margin-right: 250px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin-left: 81px;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: black;

  font-size: 16px;
  transition: 0.2s;
}

.submenu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  min-width: 170px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  list-style: none;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.submenu li a {
  display: block;
  padding: 12px 15px;
}

.submenu li a:hover {
  background-color: #f5f5f5;
}

.dropdown:hover .submenu {
  display: block;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  transition: 0.3s;
  background: rgba(122, 122, 122, 1);
}

.toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid #000000;
  transition: 0.3s;
  z-index: 2;
}

.switch input:checked + .toggle::before {
  transform: translateX(20px);
  background-color: #000000;
}

.icon__sun,
.icon__moon {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 3px;
  z-index: 3;
}

.icon__sun {
  left: 2px;
}

.icon__moon {
  right: 2px;
}

.greeting__title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  text-align: right;
  margin-left: 51px;
}



.leap__year__game {
  border-top: 1px solid #000;
  padding-top: 40px;
}

.leap__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.leap__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#leapForm {
  display: flex;
  align-items: center;
  background: #d9d9d9;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 0 #bcbcbc;
}

#leapInput {
  border: none;
  outline: none;
  padding: 15px 20px;
  background: transparent;
  width: 250px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;


}

#leapInput::placeholder {
  color: #8c8c8c;
}

.leap__button {
  width: 50px;
  height: 50px;
  background: #000;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leap__button img {
  width: 20px;
  height: 20px;
  fill: white;
}

#leapResult {
  color: #2e7d32;
  white-space: nowrap;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  text-align: right;
}

.three__numbers__game {
  border-top: 1px solid #000;
  padding-top: 40px;
}

.three__numbers__container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.three__numbers__title {
  font-weight: 500;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
}

.three__numbers__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#threeForm {
  display: flex;
  gap: 40px;
}

#threeForm input {
  width: 200px;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 0 5px 0 #bfbfbf;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

#threeForm input::placeholder {
  color: #8c8c8c;
}

#threeResult {
  font-size: 16px;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.team__slider {
  padding-top: 40px;
  border-top: #000 solid 1px;
}

.team__slider__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.team__box {
  display: flex;
  justify-content: center;
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

.team__name {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.team__info {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 36px;
}

.eyes__game {
  margin: 80px 0;
}

.eyes {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.eye {
  width: 120px;
  height: 120px;
  background: rgb(38, 30, 30);
  border-radius: 50%;
  position: relative;
  box-shadow:
    inset 0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupil {
  width: 45px;
  height: 45px;
  background: radial-gradient(circle at 30% 30%, #ffffff, #000);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-out;
}
